$background-gradient: linear-gradient(to top, #fff 0%, #fff9df 100%);
$color-white: white;
$color-black: black;
$color-flamingo: #EB5338;
$color-sunglow: #FFCC36;
$color-black-russian: #0A0022;
$color-natural-gray: #8D8B80;
