.lp-footer {
  padding-bottom: 124px;
  padding-top: 100px;
  &-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 1023px) {
      & {
        flex-direction: column;
      }
    }
      &__menu {
        &-list {
          display: flex;
          flex-direction: row;
          @media screen and (max-width: 1023px) {
            & {
              margin-top: 30px;
            }
          }
        }
        &-link {
          font-size: 16px;
          font-family: 'Poppins Bold', sans-serif;
          font-weight: bold;
          text-decoration: none;
          color: $color-black-russian;
          transition: color .3s ease-in;
          &:hover {
            color: rgba($color-black-russian,.7);
          }
        }
        &-item {
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
        }
    }
    &__img {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &-copyright {
        color: $color-black-russian;
        display: inline-flex;
        padding-top: 10px;
        padding-left: 12px;
      }
    }
  }
}
