.lp-information {
  background: url(/assets/img/people.png)no-repeat;
  background-position: -100px;
  @media screen and (max-width: 1199px) {
    & {
      background-position: 0;
      background-size: 43%;
    }
  }
  @media screen and (max-width: 1023px) {
    & {
      background-position: top center;
      background-size: 70%;
      padding-top: 450px;
    }
  }
  @media screen and (max-width: 639px) {
    & {
      padding-top: 250px !important;
    }
  }
  &-row {
    width: 50%;
    margin-left: auto;
    @media screen and (max-width: 1023px) {
      & {
        width: 100%;
        margin-left: 0;
      }
    }
    &__further {
      color: $color-black-russian;
      &-text {
        font-size: 16px;
        font-family: 'Poppins Regular', sans-serif;
        margin-bottom: 35px;
        line-height: 30px;
      }
      &-list {
        list-style-type: none;
        margin-bottom: 60px;
        padding-left: 25px;
      }
      &-item {
        font-size: 16px;
        font-family: 'Poppins Medium', sans-serif;
        margin-bottom: 20px;
        position: relative;
        font-weight: bold;
        &:before {
          position: absolute;
          content: '';
          width: 38px;
          height: 33px;
          left: -42px;
          background: url(/assets/img/tickbox.png)no-repeat;
        }
      }
    }
  }
  &-form {
    &-submit {
      padding-top: 22px;
      @media screen and (max-width: 639px) {
        & {
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &-submit__link {
      color: $color-flamingo;
      text-decoration: underline;
      font-family: 'Poppins Bold', sans-serif;
      font-weight: bold;
      transition: color .3s ease-in;
      &:hover {
        color: #ea6c56;
      }
    }
    &-submit__text {
      padding-left: 20px;
      font-family: 'Poppins Regular', sans-serif;
      @media screen and (max-width: 639px) {
        & {
          margin-top: 20px;
          padding-left: 0;
        }
      }
    }
    &-submit__btn {
      background: $color-flamingo;
      min-width: 220px;
      height: 50px;
      font-size: 14px;
      font-weight: bold;
      color: $color-white;
      cursor: pointer;
      border-radius: 16px;
      padding: 0 15px;
      text-align: center;
      font-family: 'Poppins Medium', sans-serif;
      transition: background .3s ease-in;
      &:hover {
        background: #ea6c56;
      }
    }
    &__link {
      font-weight: bold;
      font-family: 'Poppins Bold', sans-serif;
      color: $color-black-russian;
      transition: color .3s ease-in;
      &:hover {
        color: rgba($color-black-russian,.7);
      }
    }
    &__label {
      padding-left: 20px;
      font-family: 'Poppins Regular', sans-serif;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      @media screen and (max-width: 639px) {
        & {
          margin-top: 25px;
        }
      }
    }
  }
}
